
<body>
  <h1>Stupid Coaching</h1>
  <div>
    <p> <%= @questions %> </p>
    <p> - You </p>
  </div>

  <div>
    <p> <%= @answer %> </p>
    <p> - Your coach </p>
  </div>
  <div>
    <%= link_to "Ask another question!", "/ask" %>
  </div>
</body>
