
<body>
  <div class="container">
    <h1>Stupid Coaching</h1>
    <div class="border-start border-5 border-start-dark">
      <p> <%= @questions %> </p>
      <p class="fst-italic"> - You </p>
    </div>

    <div id="coach-answer" class="border-start border-5 border-start-dark">
      <p> <%= @answer %> </p>
      <p class="fst-italic"> - Your coach </p>
    </div>
    <div>
      <%= link_to "Ask another question!", "/ask" %>
    </div>
  </div>
</body>
