

<div class="container rounded col-6">
 <h1> Stupid Coaching </h1>
 <h6> Ask your coach anything! </h6>
 <form action="/answer" data-turbo="false" class="input-group">
    <input type="text" name="question" class="rounded form-control">
    <input type="submit" value="Ask!" class="btn btn-primary" >
  </form>
</div>
